/* aurweb-specific customizations to archweb.css */

#archnavbar.anb-aur ul li#anb-aur a {
    color: white !important;
}

#archnavbarlogo {
    background: url('archnavbar/aurlogo.png') !important;
}

#lang_sub {
  float: right;
}

#lang_sub:lang(he) #lang_sub:lang(ar) #lang_sub:lang(ur) #lang_sub:lang(fa) {
  float: left;
}

.pkglist-nav .page {
    margin: 0 .25em;
}

#pkg-stats td.stat-desc {
  white-space: normal;
}

#actionlist form {
	margin: 0;
	padding: 0;
}

.arch-bio-entry ul {
	list-style: none;
	padding: 0;
}

#pkg-updates table {
	table-layout: fixed;
	width:100%;
}

#pkg-updates td.pkg-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#pkg-updates td.pkg-date {
	text-align:right;
}

#pkg-updates td.pkg-date:lang(he) td.pkg-date:lang(ar) td.pkg-date:lang(ur) td.pkg-date:lang(fa) {
	text-align:left;
}

.keyword:link, .keyword:visited {
	float: left;
	margin: 1px .5ex 1px 0;
	padding: 0 1em;
	color: white;
	background-color: #36a;
	border: 1px solid transparent;
	border-radius: 2px;
}

.keyword:link:lang(he) .keyword:link:lang(ar) .keyword:link:lang(ur) .keyword:link:lang(fa), .keyword:visited:lang(he) .keyword:visited:lang(ar) .keyword:visited:lang(ur) .keyword:visited:lang(fa) {
	float: right;
	margin-right: auto;
	margin-left: 0.5ex;
}


.keyword:hover {
	cursor: pointer;
}

.keyword:focus {
	border: 1px dotted #000;
}

.text-button {
	background: transparent;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	font: normal 100% sans-serif;
	text-decoration: none;
	color: #07b;
	cursor: pointer;
}

.text-button:hover {
	text-decoration: underline;
	color: #666;
}

.text-button::-moz-focus-inner {
	padding: 0;
	border: none;
}

.comment-deleted {
	color: #999;
}

.edited {
	font-size: 0.9em;
	color: #999;
}

.delete-comment-form, .undelete-comment-form, .pin-comment-form, .edit-comment {
	float: right;
	margin-left: 8px;
}

.edit-comment {
	height: 11px;
	position: relative;
	top: 1px;
}

.comment-enable-notifications {
	display: inline-block;
	margin-left: 1em;
}

.rss-icon, .delete-comment, .undelete-comment, .edit-comment, .pin-comment {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.6;
}

.rss-icon:hover, .delete-comment:hover, .undelete-comment:hover, .edit-comment:hover, .pin-comment:hover {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}

.ajax-loader {
	float: right;
	position: relative;
	top: 4px;
}

.flagged a {
	color: inherit;
}

legend {
	padding: 1em 0;
}

p.important {
	font-weight: bold;
}

span.hover-help {
	border-bottom: 1px dotted black;
	cursor:help;
}

label.confirmation,
#merge-into {
	width: auto;
}

#pkgdepslist .broken {
	color: red;
	font-weight: bold;
}

.package-comments {
	margin-top: 1.5em;
}

.comments-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

/* arrowed headings */
.comments-header h3 span.text {
	display: block;
	background: #1794D1;
	font-size: 15px;
	padding: 2px 10px;
	color: white;
}

.comments-header .comments-header-nav {
	align-self: flex-end;
}

.comment-header {
	clear: both;
	font-size: 1em;
	margin-top: 1.5em;
	border-bottom: 1px dotted #bbb;
}

.comments div {
	margin-bottom: 1em;
}

.comments div p {
	margin-bottom: 0.5em;
}

.comments .more {
	font-weight: normal;
}

.error {
	color: red;
}

/* RTL changes that were originally applied to archweb.css */

ol:lang(he) ol:lang(ar) ol:lang(ur) ol:lang(fa),
ul:lang(he) ul:lang(ar) ul:lang(ur) ul:lang(fa) {
    padding-left: auto;
    padding-right: 2em;
}

#content:lang(he) #content:lang(ar) #content:lang(ur) #content:lang(fa) {
    text-align: right;
}

#content-left-wrapper:lang(he) #content-left-wrapper:lang(ar) #content-left-wrapper:lang(ur) #content-left-wrapper:lang(fa) {
    float: right;
    margin-left: auto;
    margin-right: -340px;
}

#content-right:lang(he) #content-right:lang(ar) #content-right:lang(ur) #content-right:lang(fa) {
    margin-left: auto;
    margin-right: -300px;
}

th:lang(he) th:lang(ar) th:lang(ur) th:lang(fa),
td:lang(he) td:lang(ar) td:lang(ur) td:lang(fa) {
    text-align: right;
}

#news h3:lang(he-ar-ur-fa) {
    float: right;
}

#news .timestamp:lang(he) .timestamp:lang(ar) .timestamp:lang(ur) .timestamp:lang(fa) {
    float: left;
}

#pkgsearch input:lang(he) input:lang(ar) input:lang(ur) input:lang(fa) {
    float: left;
}

#pkg-updates .rss-icon:lang(he) .rss-icon:lang(ar) .rss-icon:lang(ur) .rss-icon:lang(fa) {
    float: left;
}


#pkg-updates td.pkg-name:lang(he) td.pkg-name:lang(ar) td.pkg-name:lang(ur) td.pkg-name:lang(fa) {
    direction: ltr;
    text-align: left;
}

.results td:lang(he) td:lang(ar) td:lang(ur) td:lang(fa) {
    direction: ltr;
}

#pkglist-results .pkglist-nav:lang(he) .pkglist-nav:lang(ar) .pkglist-nav:lang(ur) .pkglist-nav:lang(fa) {
    float: left;
}

.filter-criteria div:lang(he) div:lang(ar) div:lang(ur) div:lang(fa) {
    float: right;
    margin-right: auto;
    margin-left: 1.65em;
}

#pkgdetails #detailslinks:lang(he) #detailslinks:lang(ar) #detailslinks:lang(ur) #detailslinks:lang(fa) {
    float: left;
}

#pkgdetails #pkginfo td:lang(he) td:lang(ar) td:lang(ur) td:lang(fa) {
    padding-left: auto;
    padding-right: 1.5em;
}

#pkgdetails #metadata li:lang(he) li:lang(ar) li:lang(ur) li:lang(fa) {
    direction: ltr;
}

.arch-bio-entry table.bio th:lang(he) th:lang(ar) th:lang(ur) th:lang(fa) {
    text-align: left;
    padding-right: auto;
    padding-left: 0.5em;
}
